#dashboard-container {
	display: block;
	width: 100%;
	margin:0;
	padding:0;
}

.dashboard-hide, .dashboard-drag, .dashboard-edit, .dashboard-delete, .dashboard-add {
	display:inline-block;
	width: 16px;
	height: 16px;
	text-align: center;
	display: inline;
	font-size: 0.6em;
	position: relative;
	margin: 0 2px;
	padding:0;
	cursor: pointer;
}
.dashboard-hide, .dashboard-drag, .dashboard-edit, .dashboard-delete { float:right; }

.show-icon, .hide-icon, .drag-icon, .edit-icon, .delete-icon, .add-icon { width: 16px; height: 16px; display:inline-block; }
.show-icon { position: relative;	top:0px; }

.show-icon { background-image:url(plugin_file.php?file=Dashboard/show.png); background-position:0px 0px; }
.hide-icon { background-image:url(plugin_file.php?file=Dashboard/hide.png); background-position:0px 0px; }
.drag-icon { background-image:url(plugin_file.php?file=Dashboard/drag.png); background-position:0px 0px; }
.edit-icon { background-image:url(plugin_file.php?file=Dashboard/edit.png); background-position:0px 0px; }
.delete-icon { background-image:url(plugin_file.php?file=Dashboard/delete.png); background-position:0px 0px; }
.add-icon { background-image:url(plugin_file.php?file=Dashboard/plus.png); background-position:0px 0px; }

.hide-icon:hover, .hide-icon:focus { background-position:0px -16px; }
.drag-icon:hover, .drag-icon:focus { background-position:0px -16px; }
.edit-icon:hover, .edit-icon:focus { background-position:0px -16px; }
.delete-icon:hover, .delete-icon:focus { background-position:0px -16px; }
.add-icon:hover, .add-icon:focus { background-position:0px -16px; }

.dialog-form-field {
	display: block;
	padding: 10px;
}

span.dashboard-show { display: inline; float:left; }

#sortable-container {
	margin: 10px 0 0 0;
	padding: 0;
	display: block;
}

ul.connectedSortable {
	list-style-type: none;
	min-width: 400px;
	width: 33.33%;
	box-sizing: border-box;
	margin: 0;
	display: inline-block;
	vertical-align: top;
}

#dashboard-sortable-col1 {
	padding: 0 2px 0 0;	
}

#dashboard-sortable-col2 {
	padding: 0 2px;
}

#dashboard-sortable-col3 {
	padding: 0 0 0 2px;
}

.connectedSortable li {
	margin: 0 0 5px 0;
	padding: 0;
	/*float: left;*/
	width: 100%;
	list-style: none;
	display: block;
	box-sizing: border-box;
}

.connectedSortable li table {
	border: solid 1px #666;
}

li.dashboard-box-placeholder {
	background-color: #ddd;
	border: 0;
}

.dashboard-column-placeholder {
	color: #666;
	background-color: #ddd;
	min-height: 27px;
	box-sizing: border-box;
	padding: 5px 0 0 0;
}

.column-placeholder span {
	color: #999;
}

#dashboard-create-box-button-container {
	padding: 0;
	margin: 5px 10px 0 0;
	float: right;
}

#create-box {
	cursor: pointer;
}

#dashboard-visibility-list-container {
	padding: 0px;
	float: left;
}

#dashboard-visibility-list {
	list-style-type: none;
	height: auto;
	width: auto;
	display: block;
	padding: 0;
	border: 1px solid transparent;
	background-color: #ddd;
	border: 1px solid #666;
	margin: 5px 0 0 0;
}

.visibility-list-item-raw, .visibility-list-item-filler {
	display: inline-block;
	position: relative;
	border-right: 1px solid #666;
	top: -5px;
	padding: 5px 10px;
	margin: 10px 0 0 0;
}

.visibility-list-item {
	display: inline-block;
	cursor: pointer;
	border-right: 1px solid #666;
	padding: 4px 10px 4px 10px;
	margin: 0 0 0 0;
	position: relative;
	top: -5px;
}

.visibility-list-item:hover, .visibility-list-item:focus {
	color: #666;
}

.dashboard-form-text {
	padding: 0 5px;
}

form.show-box {
	display: inline;
}

.dashboard-label {
	display: inline-block;
	width: 100px;
	text-align: right;
	padding: 0 10px 0 0;
}

.dashboard-input {
	display: inline-block;
}

.create-new-filter-link {
	margin: 0 0 0 10px;
}

#available-boxes span.title {
	font-weight: bolder;
}

#available-boxes span.filter {
	font-style: italic;
}

#available-boxes span.delete-icon {
	float: right;
}

#available-boxes div.intial-box-item {
	padding: 2px 10px;
}

#available-boxes div.intial-box-item:hover {
	background-color: #ddd;
}

.error{
	color: #B81900;
	font-weight: bolder;
}
/**
 * See: http://nicolasgallagher.com/micro-clearfix-hack/
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 */
.cf {
    *zoom: 1;
}